.product-box {
    background-color: white;
    box-shadow: 1px 1px 6px 1px darkgray;

    .product-name {
        font-size: 17px;
    }
}
.product-detail {
    background-color: white;
    box-shadow: 1px 1px 6px 1px darkgray;
}
